<!-- <h2>Quiz Time</h2>
<div class="container">
    <div *ngFor="let quiz of quiz">
        {{quiz[0].question}}<br><br><br>
        
        <form>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input type="radio" name="option" value="{{quiz[0].option1}}"
                        class="form-check-input" required   [(ngModel)]="customer.gender"/>Male
                </div>

                <div class="form-check form-check-inline">
                        <input type="radio" name="option" value="{{quiz[0].option2}}"
                            class="form-check-input" required  [(ngModel)]="customer.gender"/>Female
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio" name="option" value="{{quiz[0].option3}}"
                            class="form-check-input" required  [(ngModel)]="customer.gender"/>Female
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio" name="option" value="{{quiz[0].option4}}"
                            class="form-check-input" required  [(ngModel)]="customer.gender"/>Female
                    </div>
                 
            </div>
        </form>

    </div>
</div> -->